
body{ 
    background-color: #f8f8f8;
    padding: 100px 0px 0px;
    font: 16px 'Roboto', sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 1% auto 10%;
    width: 100vW;
    text-align: center ;
  }
  
  
  .navbar-top{
    /* background-color: rgba(255, 255, 255, 0.473); */
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100%;
    height: 7%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-top .xnavbar-icon{
    padding: 0px 10px;
  }
  .logoutxt{
    color: #2d354c;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    width: 100%;
    /* width: 100%; */
    }
  
  
  .xcar-img{
    height: 300px;
    background-color: red;
    background-blend-mode: multiply; 
    
  }
  .navbar-bottom {
    background-color: rgb(255, 255, 255);
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100%;
    bottom: 0;
    overflow: hidden;
    left: 0px;
  }
  
  
  
  .navbar-bottom ul {
    /*float: right; recordar quitar y 
    usar bootstrap*/
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .navbar-bottom li {
    display: inline-block;
    padding: .4rem 3.5%;
  
  }
  .navbar-bottom a {    
    text-decoration: none;  
  }
  .navbar-title{
    color:#000;
    font-size: .8rem;
    margin: 0px;
  }
  
  .navbar-texticon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-icon{
    height: 10vh;
    min-height: 25px;
    max-height: 40px;
  }
  #iclogo {
    height: 11vh;
  }
  .btnback {
    height: 6vh;
    min-height: 15px;
    max-height: 30px;
  }
  #btn-back img {
    height: 1.8em;
  }
  

  
  

  
  
  
  @media (min-width: 576px) {

  }
  
  
  
  @media (min-width: 992px) {

  }
  
