@import "styleReset.css";
@import "styleNavbar.css";

body{
    background-color: #EFFAFB ;
}

.user-image{
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    border: solid #36B8BF 3px;
    
}

.profile-icon{
    object-fit: cover;
    height: 7vh;
    width: 7vh;
    border-radius: 25%;
    min-height: 25px;
    
    object-fit: cover;
    border: solid black 1px;
    /* padding:10px; */
    /* margin:10px; */
}
